* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #746767;
    color: rgb(47, 36, 36);
    padding: 15px 20px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: rgb(245, 243, 243);
    text-decoration: none;
    padding: 5px 10px;
}
.nav-links a:hover{
    color: #121212;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #746767;
    list-style: none;
    top: 100%;
    left: 0;
    padding: 10px 0;
    border-radius: 4px;
    min-width: 150px;
}

.dropdown {
    position: relative; /* Nécessaire pour le positionnement absolu de dropdown-menu */
}

.dropdown:hover .dropdown-menu {
    display: block; /* Affiché au survol */
    z-index: 10; /* Assurez-vous qu'il soit au-dessus d'autres éléments */
}


.dropdown-menu li a {
    color: rgb(255, 255, 255);
    background-color:#746767;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.dropdown-menu li a:hover {
   
    color: #121212;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
}

.search-bar input {
    padding: 5px;
    border: none;
    outline: none;
}



.header-right a {
    color: rgb(245, 242, 242);
    text-decoration: none;
    padding: 5px 10px;
}

.header-right a:hover {
    color: #201e1e;
}



/**/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.form-container {
    width: 60%;
}
.contact-details {
    width: 30%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}
.contact-details h3 {
    margin-bottom: 15px;
}
.contact-details p {
    margin: 10px 0;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7c6868;
    border-radius: 5px;
}
form button {
    background-color: #ad9999;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
form button:hover {
    background-color: #6f5555;
}

h1{
    color: rgb(47, 36, 36) ;
    font-size: 24px;
    text-align: center;
}