* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #746767;
    color: rgb(47, 36, 36);
    padding: 15px 20px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: rgb(245, 243, 243);
    text-decoration: none;
    padding: 5px 10px;
}
.nav-links a:hover{
    color: #121212;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #746767;
    list-style: none;
    top: 100%;
    left: 0;
    padding: 10px 0;
    border-radius: 4px;
    min-width: 150px;
}

.dropdown {
    position: relative; /* Nécessaire pour le positionnement absolu de dropdown-menu */
}

.dropdown:hover .dropdown-menu {
    display: block; /* Affiché au survol */
    z-index: 10; /* Assurez-vous qu'il soit au-dessus d'autres éléments */
}


.dropdown-menu li a {
    color: rgb(246, 245, 245);
    background-color:#746767;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.dropdown-menu li a:hover {
   
    color: #121212;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: rgb(247, 242, 242);
    border-radius: 4px;
    overflow: hidden;
}

.search-bar input {
    padding: 5px;
    border: none;
    outline: none;
}



.header-right a {
    color: rgb(245, 242, 242);
    text-decoration: none;
    padding: 5px 10px;
}

.header-right a:hover {
    color: #201e1e;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligne le contenu à gauche */
    height: 70vh;
    padding-left: 50px; /* Espace à gauche */
    background-image: url('ger.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: rgb(23, 22, 22);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 400px; 
    text-align: left; 
}



.hero-content h2 {
    font-size: 36px;
    
    color: #ffffff;
}

.hero-content .site-description {
    font-size: 16px;
    margin: 15px 0;
    color: #fcf9f9;
}

.hero-content button {
    padding: 10px 20px;
    background-color: #a29c9c;
    color: #fffcfc;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.hero-content button:hover{
    color: #121212;
}

    
  
    

.product-gallery {
    padding: 20px;
    text-align: center;
 
}

.product-gallery h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color:rgb(47, 36, 36) ;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 200px;
    margin: 15px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h4 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #555;
}

footer {
    background-color: #8d8787;
    color: white;
    text-align: center;
    padding: 10px 0;
}
